= form_for @projet do |f|
  - if @projet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@projet.errors.count, "error")} prohibited this projet from being saved:"
      %ul
        - @projet.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
