%h1 Listing projets

%table#projets
  %thead
    %tr
      %th Nom du projet
      %th Ministère
      %th Date de fin prévue
      %th Montant (€)

  %tbody
    - @projets.each do |projet|
      %tr
        %td= projet.nom
        %td= projet.ministere
        %td= projet.date_de_lancement
        %td= projet.date_de_fin_prevue
        %td= projet.montant
        %td= projet.delta_duree
        %td= projet.delta_montant
        %td= link_to 'Voir', projet
        %td= link_to 'Editer', edit_projet_path(projet)
        %td= link_to 'Supprimer', projet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Projet', new_projet_path
